<section class="education">
  <!-- <div class="container-fluid px-0">
    <div class="row"> -->
  <div class="education-title col-md-6 vertical-center justify-content-center">
    <h1>Education</h1>
  </div>
  <div class="education-details vertical-center col-md-6">
    <div class="mx-5">
      <h3>
        <strong> M.Sc. in Distributed Systems Engineering</strong>,
        <em>since October 2020</em>
      </h3>
      <h4>Technische Universität Dresden, <em>Dresden, Germany</em></h4>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac elit
        id risus rutrum posuere et sit amet turpis. Aliquam consectetur tortor
        eget tellus porttitor lacinia. Sed tortor leo, laoreet ut arcu ut,
        imperdiet malesuada ligula. Duis egestas tortor in suscipit rutrum. Ut
        sem diam, faucibus nec diam ac, vulputate ullamcorper orci. Sed interdum
        faucibus felis sed malesuada. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Proin elit nisl, venenatis at dictum sed, efficitur
        et arcu. Nulla massa lorem, lacinia sit amet eros at, vestibulum
        sagittis elit. Integer id rutrum erat. In lobortis sapien urna, vitae
        elementum purus.
      </p> -->
      <hr />
      <h3>
        B.Sc. in Computer Science and Engineering,
        <em>Januray 2015 - April 2019</em>
      </h3>
      <h4>BRAC University, <em>Dhaka, Bangladesh</em></h4>
      <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac elit
        id risus rutrum posuere et sit amet turpis. Aliquam consectetur tortor
        eget tellus porttitor lacinia. Sed tortor leo, laoreet ut arcu ut,
        imperdiet malesuada ligula. Duis egestas tortor in suscipit rutrum. Ut
        sem diam, faucibus nec diam ac, vulputate ullamcorper orci. Sed interdum
        faucibus felis sed malesuada. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Proin elit nisl, venenatis at dictum sed, efficitur
        et arcu. Nulla massa lorem, lacinia sit amet eros at, vestibulum
        sagittis elit. Integer id rutrum erat. In lobortis sapien urna, vitae
        elementum purus.
      </p> -->
    </div>
  </div>
  <!-- </div>
  </div> -->
</section>
