<section class="education" id="education">
  <!-- <div class="container-fluid px-0">
    <div class="row"> -->
  <div class="education-title col-md-6 vertical-center justify-content-center">
    <h1>Education</h1>
  </div>
  <div class="education-details vertical-center col-md-6">
    <div class="col-md-8 offset-md-2">
      <h3>
        <strong> M.Sc. in Distributed Systems Engineering</strong>,
        <em>since October 2020</em>
      </h3>
      <h4>Technische Universität Dresden, <em>Dresden, Germany</em></h4>
      <p>
        <strong>Coursework:</strong> Distributed Systems, Software Fault
        Tolerance, Engineering Adaptive Mobile Applications
      </p>
      <hr />
      <h3>
        B.Sc. in Computer Science and Engineering,
        <em>Januray 2015 - April 2019</em>
      </h3>
      <h4>BRAC University, <em>Dhaka, Bangladesh</em></h4>
      <p>
        <strong>Thesis:</strong> Bitcoin Price Forecasting Based on Historical
        Data <strong>Paper Title:</strong> Bitcoin Price Forecasting Using Time
        Series Analysis
        <br />
        <em>
          The paper was published at 21st IEEE- International Conference on
          Computer and Information Technology (ICCIT), United International
          University (UIU), Dhaka, Bangladesh, 2018
        </em>
      </p>
    </div>
  </div>
  <!-- </div>
  </div> -->
</section>
