<section class="work">
  <div class="work-details">
    <div class="col-md-8 offset-md-2">
      <h3>Working Student - Web Development and Programming, <em></em></h3>
      <h4>
        M.Sc. in Distributed Systems Engineering,
        <em>since October 2021</em>
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac elit
        id risus rutrum posuere et sit amet turpis. Aliquam consectetur tortor
        eget tellus porttitor lacinia. Sed tortor leo, laoreet ut arcu ut,
        imperdiet malesuada ligula. Duis egestas tortor in suscipit rutrum. Ut
        sem diam, faucibus nec diam ac, vulputate ullamcorper orci. Sed interdum
        faucibus felis sed malesuada. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Proin elit nisl, venenatis at dictum sed, efficitur
        et arcu. Nulla massa lorem, lacinia sit amet eros at, vestibulum
        sagittis elit. Integer id rutrum erat. In lobortis sapien urna, vitae
        elementum purus.
      </p>
    </div>
  </div>

  <div class="work-title">
    <h1>Work</h1>
  </div>
</section>
