<section class="work">
  <!-- <div class="container-fluid px-0">
    <div class="row"> -->
  <div class="work-details vertical-center">
    <div class="col-md-8 offset-md-2">
      <h3>
        Working Student - Web Development and Programming,
        <em>since October 2021</em>
      </h3>
      <h4>maep! die Ärzte Personalberatung! (https://www.maep.de/)</h4>
      <!-- <p>
      </p> -->
      <ul>
        <li>
          Working on the Frontend of their website for the project DoctorsFuture
          using Angular and TypeScript.
        </li>
        <li>Built the admin panel with REST API functionalities</li>
      </ul>
      <hr />
      <h3>Research Intern, <em>May 2019 - Jan 2020</em></h3>
      <h4>Jence Bangladesh (http://jence.com/web/)</h4>
      <ul>
        <li>
          Developed Java SWT based GUI components for SOACOM software of Jence,
          an RFID based flagship ERP product
        </li>
        <li>Software testing for finding bugs and errors</li>
        <li>Feature testing for evaluating functionality</li>
        <li>
          Develop a face recognition program using Java Native Interface (JNI)
          and Dlib, a C++ based toolkit
        </li>
      </ul>
      <hr />
      <h3>Intern - Tech Department, <em>January 2017 - March 2017</em></h3>
      <h4>Green & Red Technologies (https://www.green-red.com/)</h4>
      <ul>
        <li>A three-month voluntary internship program</li>
        <li>Worked on a web-based application and Android project in a team</li>
      </ul>
    </div>
  </div>

  <div class="work-title vertical-center justify-content-center">
    <h1>Work</h1>
  </div>
  <!-- </div>
  </div> -->
</section>
